* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

/* Login/Register */
.center-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
}

/* Common */
input,
select,
textarea,
button {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* Dashboard */
.dashboard {
  width: 100%;
  min-height: 100vh;
  padding: 25px;
}

.dashboard h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.dashboard button {
  width: 100%;
  max-width: 350px;
  display: block;
}

/* Quiz */
.quiz-card {
  width: 100%;
  max-width: 650px;
  margin: 20px auto;
  max-height: 85vh;
  overflow-y: auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
}

.question-box {
  margin-bottom: 20px;
  padding: 15px;
  background: #0f172a;
  border-radius: 12px;
}

.option-card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #1e293b;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
}

.option-card input {
  width: 18px;
  height: 18px;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .card {
    max-width: 100%;
  }

  .dashboard {
    padding: 20px;
  }

  .dashboard h2 {
    font-size: 26px;
  }

  .quiz-card {
    max-width: 100%;
    padding: 15px;
  }
}