* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #eef0f4;
  color: #111;
  overflow-x: hidden;
}

/* MOBILE APP SCREEN */
.center-container,
.dashboard,
.quiz-page {
  min-height: 100vh;
  width: 100%;
  max-width: 430px;
  margin: auto;
  background: #4f8f88;
  padding: 25px;
}

/* CARD */
.card {
  width: 100%;
  background: transparent;
  color: white;
  box-shadow: none;
  padding-top: 120px;
}

/* LOGO CIRCLE */
.card h2 {
  width: 130px;
  height: 130px;
  background: white;
  color: #00695c;
  border-radius: 50%;
  margin: 0 auto 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}

/* INPUT */
input,
select,
textarea {
  width: 100%;
  padding: 16px;
  margin-top: 12px;
  border-radius: 14px;
  border: 2px solid rgba(255,255,255,0.8);
  background: transparent;
  color: white;
  font-size: 16px;
}

input::placeholder {
  color: #e5e5e5;
}

/* BUTTON */
button {
  width: 100%;
  padding: 16px;
  margin-top: 22px;
  border: none;
  border-radius: 14px;
  background: #ffd166;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

/* DASHBOARD */
.dashboard {
  color: white;
}

.dashboard h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.dashboard button {
  background: #ffd166;
  color: white;
  margin-bottom: 15px;
}

/* QUIZ CARD */
.quiz-card {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  margin: auto;
  background: #f4f5f8;
  padding: 25px;
  color: #111;
}

.question-box {
  background: white;
  padding: 30px;
  border-radius: 18px;
  margin: 30px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.option-card,
.option {
  background: white;
  padding: 16px;
  margin-top: 15px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.option-card input,
.option input {
  width: 20px;
  height: 20px;
}

.submit-btn {
  background: #00695c;
  color: white;
}

/* FLOATING MENU */
.floating-btn {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #00b4d8;
  color: black;
  font-size: 25px;
  z-index: 1000;
}

.popup-menu {
  position: fixed;
  top: 90px;
  right: 20px;
  width: 220px;
  background: #1e293b;
  padding: 15px;
  border-radius: 15px;
  z-index: 1000;
}

.popup-menu button {
  background: #38bdf8;
  color: black;
}